<!--
<div>
    <div class="form-group">
        <label class="control-label">Your name</label>
        <input autofocus ng-change="textChange()" type="text" ng-model="username" id="input-name" placeholder="This field is validated" class="form-control">
    </div>
    <span class="text">
        This form <a href="form.html" target="_blank">form.html</a> was called $templateRequest.
    </span>
</div>-->


<!--var content = response.data.message + ' With Id:<b>' + response.data.data.formatted_pv_id + '</b>.'+-->
<div>
    <div class="form-group">
    <label class="control-label"><b>End Customer</b></label>
    <input   type="text"  ng-model="customer_name" id="input-name"  class="form-control" placeholder="{{physicalVerification.customer_name}}">
    </div>
    <label class="control-label"><b>Location</b></label>
<input   type="text"   ng-model="location" id="input-location" placeholder="location" class="form-control">
</div>
<!--
'Are you want to print?';-->
